@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

/**
CSS CUSTOM PROPERTIES
**/
:root {
  --black: #444;
  --pink: #CA1551;
  --red: #FB4D3D;
  --green:#03CEA4;
  --blue: #345995;
  --yellow: #EAC435;
}



html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: ffffff;
  color: var(--black);
  font-family: 'Ubuntu Mono', monospace; 
  font-size: 16px
}

h1 {
  color: #333;
}

/**
ALL THINGS HERO
**/
.hero {
  /* background-color: #2877D7; */
  line-height: 0;
  border: 6px solid #333;
  margin: 10px 0 10px 0;
}

.main-logo {
  padding: 20px;
  /* background-color: grey; */
  max-width: 420px;
  height: auto;
  width: 100%;
}

.stroke-effect {
  stroke: #333;
  box-shadow: black;
  fill: #CA1551;
}

.hero .stroke-effect {
    stroke: #FB4D3D;
    stroke-dasharray: 10;
    animation: dash 1s ease-in-out infinite;
    /* fill: black;
    animation: glitch 69ms infinite; */
}
/* .stroke-effect:hover {
  stroke: crimson;
  stroke-dasharray: 10;
  
  animation: dash 1s ease-in-out infinite;
  
} */


/**
GRID SETUP
**/
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 200px;
  gap: 3px;
}


/**
MAIN CONTENT STYLES
**/
.item {
  background: #fafafa;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  font-size: 69px;
  border: 6px solid #333;
  border-radius: 4px;
}

.item:hover, .fa-item:hover {
  background: #EAC435;
}

/**
FONT AWESOME SETTINGS
**/
.fa-item.fad {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid #333;
  border-radius: 4px;
}

/**
completely necessary css candy
**/
.console {
  background: #444;
  color: lime;
  padding: 2px 4px;
  border-radius: 2px;
}

/**  
A N I M A T I O N S !!! 
**/
@keyframes glitch {
  0% {
    stroke: yellow; }
  20% {
    stroke: blue; }
  40% {
    stroke: lime; }
  60% {
    stroke: pink; }
  80% {
    stroke: red; } 
  100% {
    stroke: yellow;}
  }


@keyframes dash {
  to {
    stroke-dashoffset: 60;
  }
}