@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

/**
CSS CUSTOM PROPERTIES
**/
:root {
  --black: #444;
  --pink: #CA1551;
  --red: #FB4D3D;
  --green:#03CEA4;
  --blue: #345995;
  --yellow: #EAC435;
}



html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; 
  border: 2px dotted red;
}

body {
  background: ffffff;
  color: var(--black);
  font-family: 'Ubuntu Mono', monospace; 
  font-size: 16px
}

h1 {
  color: #333;
}

/**
ALL THINGS HERO
**/
.hero {
  /* background-color: #2877D7; */
  line-height: 0;
  border: 6px solid #333;
  margin: 10px 0 10px 0;
}

.main-logo {
  padding: 20px;
  /* background-color: grey; */
  max-width: 420px;
  height: auto;
  width: 100%;
}

.stroke-effect {
  stroke: var(--green);
  /* fill: #444; */
}

.hero .stroke-effect {
  stroke-width: 3;
    stroke-dasharray: 15;
    animation: dash 2s ease-in-out infinite;
    /* fill: black;
    animation: glitch 69ms infinite; */
}

.hero:hover .stroke-effect {
  stroke: var(--black);
  stroke-width: 3;
  animation: glitch 0.2s ease-in-out infinite;
}

/**
GRID SETUP
**/
.container {
  overflow: hidden;
  height: 900px;
  display: grid;
  grid-template-columns:1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}


/**
MAIN CONTENT STYLES
**/
.item {
  background: #fafafa;
  font-weight: 600;
  text-align: center;
  padding: 25px;
  font-size: 69px;
  border: 6px solid #333;
  border-radius: 4px;
}

.item:hover, .fa-item:hover {
  background: #EAC435;
}

.side-item {
  /* grid-row: span 4; */
  grid-row: 1 / -1;
  display: flex;

}

/**
IMAGE SETTINGS
**/
.side-logo {
  height: auto;
  width: 100%;
  padding: 20px;
  background: var(--blue);
  
}

/**
FONT AWESOME SETTINGS
**/
.fa-item.fad {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid #333;
  border-radius: 4px;
}

/**
completely necessary css candy
**/
.console {
  background: #444;
  color: lime;
  padding: 2px 4px;
  border-radius: 2px;
}

/**  
A N I M A T I O N S !!! 
**/
@keyframes glitch {
  0% {
    fill: yellow; }
  20% {
    fill: blue; }
  40% {
    fill: lime; }
  60% {
    fill: pink; }
  80% {
    fill: red; } 
  100% {
    fill: yellow;}
  }


@keyframes dash {
  to {
    stroke-dashoffset: 60;
  }
}