@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: ffffff;
  color: #333;
  font-family: 'Ubuntu Mono', monospace; 
  font-size: 16px
}

h1 {
  color: #333;
}

/**
ALL THINGS HERO
**/
.hero {
  background-color: #2877D7;
  line-height: 0;
}

.main-logo {
  padding: 20px;
  background-color: #3BC454;
  max-width: 840px;
  height: auto;
  width: 100%;
}

.stroke-effect:hover {
  stroke: crimson;
  stroke-dasharray: 10;
  
  animation: dash 1s ease-in-out infinite;
  
}

/*.image-box {
  max-width: 100%;
  padding: 10px; }

.highlight {
  max-width: 100%;
  height: auto;
  -webkit-filter: hue-rotate(10deg);
  filter: hue-rotate(10deg); }

.hero {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .hero a {
    display: contents; }

.toplogo {
  height: auto;
  max-width: 840px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .toplogo:hover g g path {
    -webkit-animation-name: glitch;
    animation-name: glitch;
    -webkit-animation-duration: 150ms;
    animation-duration: 150ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; 
    stroke: #fffc31;
  }
  .toplogo:hover g g .skull {
    fill: springgreen; }
  .toplogo:hover g g .lazyskull {
    fill: black;
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left; }
*/



/**
completely necessary css candy
**/
.console {
  background: #444;
  color: lime;
  padding: 2px 4px;
  border-radius: 2px;
}

/**  
A N I M A T I O N S !!! 
**/
@-webkit-keyframes glitch {
  0% {
    stroke: yellow; }
  20% {
    stroke: blue; }
  40% {
    stroke: lime; }
  60% {
    stroke: pink; }
  80% {
    stroke: red; } }

@keyframes glitch {
  0% {
    stroke: yellow; }
  20% {
    stroke: blue; }
  40% {
    stroke: lime; }
  60% {
    stroke: pink; }
  80% {
    stroke: red; } }


@keyframes dash {
  to {
    stroke-dashoffset: 60;
  }
}