.hero
  //background: blueviolet
  color: red
  display: flex
  justify-content: center
  
  a
    display: contents


.toplogo
  //background: red
  height: auto
  max-width: 720px
  width: 100%
  padding-top: 20px
  padding-bottom: 20px
  g
    g
      path
        //fill-opacity: 1
        //fill: deeppink
        //stroke: deeppink
  &:hover
    g
      g
        path
          //fill-opacity: 1
          //fill: deeppink
          //stroke: lime

          //transform: rotate(1deg)
          animation-name: glitch
          animation-duration: 150ms
          animation-iteration-count: infinite
          //animation-timing-function: linear

        .skull
          fill: springgreen
          //transform: rotate(1deg) translateX(10px)
          //transform: translateX(10px)

        .lazyskull
          fill: black
          transform: rotate(359deg)
          transform-origin: top left 
    g
      g
        path
          //fill-opacity: 1
          //fill: deeppink



@keyframes glitch
  0% 
    stroke: yellow
  20% 
    stroke: blue
  40%
    stroke: lime
  60% 
    stroke: pink
  80% 
    stroke: red